<a href="https://colab.research.google.com/github/GehuaZhang/AlgoExecution/blob/master/AlgoExecution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install matplotlib
!pip install datetime
!pip install pandas
!pip install numpy

Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.6.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.17.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (45.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: datetime in /usr/local/lib/python3.6/dist-packages (4.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from datetime) (2018.9)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.6/dist-packages (from datetime) (4.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface->datetime) (45.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.17.5)

In [35]:
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 0. Get Data

In [0]:
def getData(folder_path,symbols):
  file_list = listdir(folder_path)
  tmp_list = []
  for file_name in file_list:
    if file_name.__contains__("csv"):
      tmp_df = pd.read_csv(base_path+"/"+file_name)
      tmp_df = tmp_df[tmp_df["windcode"]==symbols]
      tmp_df.drop(index = tmp_df.index[[0,120,-1,-2,-3,-4]],inplace=True)
      tmp_list.append(tmp_df)
  data=pd.concat(tmp_list, axis=0, ignore_index=True)

  data["date"] = pd.Series([datetime.strptime(str(x),"%Y/%m/%d %H:%M").date() for x in data["begintime"]])
  data["time"] = pd.Series([datetime.strptime(str(x),"%Y/%m/%d %H:%M").time() for x in data["begintime"]])
  data.drop(["begintime","endtime"],axis=1,inplace=True)
  return data

In [0]:
folder_path = "/content/drive/My Drive/Colab Notebooks/2019-A50/2019-A50"
symbols = "600050.SH"
data=getData(folder_path,symbols)

In [82]:
data

        windcode  open  high   low  ...     volume     amount        date      time
0      600050.SH  5.18  5.19  5.18  ...   815200.0  4226285.0  2019-01-02  09:31:00
1      600050.SH  5.19  5.19  5.17  ...   237100.0  1228269.0  2019-01-02  09:32:00
2      600050.SH  5.18  5.19  5.18  ...   470200.0  2438957.0  2019-01-02  09:33:00
3      600050.SH  5.18  5.19  5.18  ...   346900.0  1799002.0  2019-01-02  09:34:00
4      600050.SH  5.19  5.20  5.17  ...  1267400.0  6576577.0  2019-01-02  09:35:00
...          ...   ...   ...   ...  ...        ...        ...         ...       ...
57579  600050.SH  5.79  5.80  5.78  ...   441500.0  2554010.0  2019-12-27  14:52:00
57580  600050.SH  5.79  5.80  5.78  ...   225000.0  1302319.0  2019-12-27  14:53:00
57581  600050.SH  5.79  5.79  5.78  ...   201514.0  1165782.0  2019-12-27  14:54:00
57582  600050.SH  5.78  5.79  5.78  ...   449300.0  2598440.0  2019-12-27  14:55:00
57583  600050.SH  5.78  5.79  5.78  ...   470100.0  2720422.0  2019-12-27  14:56:00

[57584 rows x 9 columns]

## 1. Simplest VWAP (VWAP ONE)

使用N天历史该时刻的成交量和总体成交量的比值的均值来预测，比如现在是10:30分，回溯找到历史N天10:30分的成交量占该日成交量的比值，再求一个均值，作为预测现在的成交量比值。

In [0]:
N=30
current_date = datetime.date(2019,11,30)
current_time = datetime.time(10,30,00)

def volumePredictOne(symbol,current_date,current_time,N,freq,fields):
  traceback_date = current_date-datetime.timedelta(N+1)
  data_traceback=getData(symbol,traceback_date,current_date-datetime.timedelta(1),freq,fields)
  current_time = datetime.time(10,30,00)
  current_time=np.int64(current_time.strftime("%H%M%S"))
  data_grouped=data_traceback.groupby("trade_date")
  tmp_ratio=[]
  for name, info in data_grouped:
    spot_volume=info[info["time"]==current_time]["volume"].values
    cumulative_volume=info["volume"].sum()
    tmp_ratio.append(spot_volume/cumulative_volume)
  tmp_ratio=[x[0] for x in ratio_list]
  return tmp_ratio

In [0]:
ratio_list=volumePredictOne(symbol,current_date,current_time,N,freq,fields)
np.mean(ratio_list)

In [0]:
plt.hist(ratio_list,bins=10)

30天历史的该时刻平均成交量占当日成交量比为0.004164683885047307

In [0]:
def tradeCost(volume,price,direction):
  if direction == "sell":
    stampsTax = volume*price*0.001
  commission = volume*price*0.0002
  return(stampsTax+commission)

In [0]:
"""
api = DataApi(addr='tcp://data.quantos.org:8910')
api.login('3478219880','eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1ODE2OTMxOTYzOTAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMzQ3ODIxOTg4MCJ9.BZ3Ou2TuXWPaRqTbvyR4Kkjm2h89L0HP4IGnZTP53Jk')
begin_date=datetime.date(2019,12,1)
end_date=datetime.date(2020,2,14)
freq="1M"
symbol="600030.SH"
fields="close,vwaps,time,volume"

def getData(symbol,begin_date,end_date,freq,fields):
  date_range=getEveryDay(begin_date,end_date)
  tmp_list=[]
  count=0
  for date in date_range:
    df,msg = api.bar(symbol=symbol,trade_date=date,freq=freq,fields=fields)
    if df.shape[0]<240:
      continue
    elif (df["volume"].sum()==0.0) |(df["close"].sum()==0.0):
      continue
    count=count+1
    tmp_list.append(df)
  print("Get %s Trading Days"%(count))
  data=pd.concat(tmp_list).reset_index(drop=True)
  return data

def getEveryDay(begin_date,end_date):
    date_list = []
    while begin_date <= end_date:
        date_str = begin_date.strftime("%Y%m%d")
        date_list.append(date_str)
        begin_date += datetime.timedelta(days=1)
    return date_list