<a href="https://colab.research.google.com/github/GehuaZhang/AlgoExecution/blob/master/AlgoExecution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!sudo apt-get install libsnappy-dev
!pip install python-snappy
!pip install jaqs
!pip install matplotlib
!pip install datetime
!pip install pandas

In [0]:
from jaqs.data.dataapi import DataApi
import matplotlib.pyplot as plt
import datetime
import pandas as pd

In [0]:
api = DataApi(addr='tcp://data.quantos.org:8910')
api.login('3478219880','eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1ODE2OTMxOTYzOTAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMzQ3ODIxOTg4MCJ9.BZ3Ou2TuXWPaRqTbvyR4Kkjm2h89L0HP4IGnZTP53Jk')
begin_date=datetime.date(2020,2,11)
end_date=datetime.date(2020,2,14)
freq="1M"
symbol="600030.SH"
fields="close,vwaps,time,volume"

In [0]:
def getEveryDay(begin_date,end_date):
    date_list = []
    while begin_date <= end_date:
        date_str = begin_date.strftime("%Y%m%d")
        date_list.append(date_str)
        begin_date += datetime.timedelta(days=1)
    return date_list

In [0]:
def getData(symbol,freq,fields):
  date_range=getEveryDay(begin_date,end_date)
  tmp_list=[]
  count=0
  for date in date_range:
    df,msg = api.bar(symbol=symbol,trade_date=date,freq=freq,fields=fields)
    if df.shape[0]<240:
      continue
    count=count+1
    tmp_list.append(df)
  print(count)
  return tmp_list

In [140]:
data=pd.concat(getData(symbol,freq,fields)).reset_index(drop=True)

4

In [143]:
pd.set_option('display.max_rows', 50)
data

    freq  trade_date     symbol    time  close     volume
0     1M    20200211  600030.SH   93100  22.94  4100862.0
1     1M    20200211  600030.SH   93200  22.88  3657796.0
2     1M    20200211  600030.SH   93300  22.85  2230855.0
3     1M    20200211  600030.SH   93400  22.80  3226887.0
4     1M    20200211  600030.SH   93500  22.76  1482798.0
..   ...         ...        ...     ...    ...        ...
955   1M    20200214  600030.SH  145600  22.97  1074511.0
956   1M    20200214  600030.SH  145700  22.97  1347484.0
957   1M    20200214  600030.SH  145800  22.97    66300.0
958   1M    20200214  600030.SH  145900  22.97        0.0
959   1M    20200214  600030.SH  150000  22.97        0.0

[960 rows x 6 columns]

Empty DataFrame
Columns: [freq, trade_date, symbol, time, close, volume]
Index: []